@model IEnumerable<RaFiKaWebApplication.Models.Account>

@{
    ViewBag.Title = "Wish List";
}

<html>

<head>
    <style>

    </style>
</head>

<body>
    <h1> Welcome! </h1>

    <div>
        <h2>Your Wish List!</h2>


    </div>

</body>


</html>

